# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# 忽略所有子資料夾內的 .venv
**/.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode
.vscode/

# JetBrains IDE
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment variables
.env

# Build files
build/
dist/
*.egg-info/

# Logs
*.log